.card {
  position: relative;
}

.card-top {
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
  padding: 20px 0 0 15px;
  @include size(349px, 235px)
  border: 1px solid $mainBorder;
  border-radius: 10px;
  background-color: #fff;
}

.card input {
  border: 1px solid $mainBorder;
}

.card-top__number-header {
  margin: 0;
  margin-bottom: 5px;
}

.card-top__number-input {
  display: inline-block;
  margin: 0 7px 14px 0;
  padding-left: 10px;
  @include size(62px, 41px);
  outline: none;

  &.error {
    border: 1px solid red;
  }
}

.card-top__validity-header {
  margin: 0;
  margin-bottom: 5px;
}

.card-top__validity-input-month {
  margin: 0 9px 10px 0;
  padding: 2px 0 0 15px;
  @include size(69px, 41px);
  font-size: 16px;
  line-height: 21px;
}

.card-top__validity-input-year {
  padding: 2px 0 0 15px;
  @include size(85px, 41px);
  font-size: 16px;
  line-height: 21px;
}

.card-top__holder-input {
  padding-left: 12px;
  @include size(318px, 41px);

  &.error {
    border: 1px solid red;
  }
}

@include placeholder {
  font-size: 16px;
  line-height: 21px;
  color: #bec6cf;
}

.card-inverse {
  position: absolute;
  bottom: 89px;
  right: 46px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 20px 15px 0 15px;
  @include size(369px, 235px);
  border: 1px solid $mainBorder;
  border-radius: 10px;
}

.card-inverse:before {
  content: "";
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  height: 42px;
  background-color: #e4e9ee;
}

.card-inverse__cvc-wrapper {
  width: 141px;
  margin-top: 87px;
}

.card-inverse__cvc-header {
  position: relative;
  margin: 0 0 4px 0;
}

.card-inverse__cvc-input {
  position: relative;
  padding-left: 15px;
  @include size(137px, 42px);

  &.error {
    border: 1px solid red;
  }
}

.card-inverse__cvc-header:after {
  content: "";
  position: absolute;
  top: 32px;
  left: 101px;
  z-index: 3;
  @include size(26px, 26px);
  background-image: url('/assets/img/question.png');
}

.card__button-submit {
  margin-bottom: 30px;
  @include size(133px, 40px);
  font-family: $mainFont;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background: linear-gradient(to bottom, #005abe 0%, #004fa8 100%);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;

  &:hover {
    background: linear-gradient(to bottom, #004fa8 0%, #005abe 100%);
  }

  &:active {
    background: #064E9F;
  }
}

.card__button-submit-message {
  position: absolute;
  bottom: -5px;
  left: 0;
  margin: 0;
  margin-bottom: 10px;
}

