// Font
$mainFont                : 'Open Sans', Arial, sans-serif;

// Size
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 21px;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #1f2229;
$secondary-color         : #191c24;
$active-color            : #2a2d37;

// Font Colors
$mainFontColor           : #8494ab;
$activeFontColor         : #808592;

// Border 
$mainBorder              : #C7CCD1;